.selectbox
  $padding: 2px 10px 2px 10px
  $height: 30px

  display: inline-block
  cursor: pointer
  background-color: #ccc
  color: #333
  
  select
    display: none

  &--default
    position: relative
    &:after
      content: ''
      display: inline-block
      position: absolute
      right: 10px
      top: $height / 2
      width: 0
      height: 0
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 5px solid #333

  &--items
    list-style-type: none
    padding: 0
    margin: 0
    display: none

  &--item, &--default
    min-width: 100px
    padding: $padding
    height: $height
    line-height: $height
    background-color: transparent
    &:hover
      background-color: #999
  
  &--item
    border-top: 1px solid #fff

  &.active &--items
    display: block

  &.active &--default:after
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 0
    border-bottom: 5px solid #333